@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    background-color:crimson;
    color: white;
    padding-bottom: 0px;
    text-align: center;
    width: 100%;
}
button{
    text-transform: uppercase;
    margin-top: 10px;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #e34363;
    border: none;
    outline: none;
    font-weight: 700;
    color: white;
    transition: 900ms;
    box-shadow: 1.5px 1.5px 5px #333;
}
button:hover{
    color: crimson;
    background-color: white;
    scale: 1.1;
    box-shadow: 3px 3px 2px #333;
}
hr{
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
}
.main{
    margin-top: 50px;
    text-align: center;
}
h2{
    margin-top: 10px;
}
#language_h1{
    font-size: 40px;
    text-transform: uppercase;
}
#developer_footer{
    margin-top: 115px;
    background-color: white;
    color: crimson;
    padding: 10px;
    text-shadow: 0.75px 0.75px 2px #333;
}

ul{
    margin-top: 12.5px;
}